html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
background-color:#f7fff7;
}
/*head style begin*/
nav{
  
    height:60px;
    padding: 0 15px;
    

   
}

/*
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}
*/
.item{
    width: 100%;
    text-align: center;
    display: none;
    
    
}
.logo{
font-size: 20px;
padding-right: 10px;

}
   

.searchBar input{
 
   border: 1px solid #ddd;
   outline-style: hidden;
   outline-color:  rgb(99, 108, 238);
    width: 210px;
    
   

}


.menu-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
    /*align-items: center;*/
  
}
.menu-list li{
    list-style-type: none;
    display: block;
    padding: 5px 30px 5px 30px;
    
   
}
.active{
    border-bottom: 2px solid rgb(99, 108, 238);
}
.menu-list li a{
   color: black;
   font-size: 18px;
    font-weight: 50px;
    text-decoration: none;
    display: block;
   
}
.head-panel{
    background-image: url("/img/head-design.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
}
.head-panel p{
    color: white;
    font-size: 20px;
    padding: 4px 0px;
    
}

/*head style end*/
/*Font-panel begin*/

.btx{
    outline: none;
    background-color: #f7fff7;
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-size: 18px;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
    margin: 20px 0px 0px 15px;
    
    }
    .btx:hover{
        background-color: rgb(99, 108, 238);
        color: #f7fff7;
        
        
    }
    .btx:focus{
        outline: 0;
    }
    .btx:active{
        background-color: rgb(123, 131, 247);
    }
    .contenu{
        text-align: center;
        
        
    }
    .Font{
        display: inline-block;
        width: 400px;
        
     
    }
    header{
        padding-bottom: 30px ;
        
    }
   .image{
       width:150px;
   }

   /*space begin*/
   .space{
       text-align: center;
       padding: 30px 0px 30px 0px;
   }
   /*space end*/
   /*conatainer 2 begin*/
   .contenu2{
    text-align: center;
    
   }
   .title{
       color: rgb(123, 131, 247);
       margin-bottom: 20px;
   }
   .cadre1 ,.cadre2 ,.cadre3{
    display: inline-block;
    width: 300px;
    
   }
    /*conatainer 2 end*/
 
 




    /**********************device setting*******************************/
    /*desktop device*/
    @media all and (min-width:960px){
        .menu-list{
            align-items: flex-start;
            flex-wrap: nowrap;
        }
        .item{
            position: relative;
            display: block;
            width: auto;
            order: 1;
        }
        .logo{
            order: 0;
        }
        .searchBar{
            order: 2;
           
        }
      
    }