
body{

/**background-color: rgb(188, 204, 218);*/
background-image: url(img/etape.png);



}
header{
background-color: rgb(241, 186, 123);  
}



h1{
font-size:40px;
font-family:"Comic Sans Ms","TSCu_Comic";
color:white;
text-align:center;
}
.menu{
height:50px;
width:80%;

  
}
a{
text-decoration: none;
font-size: 21px;
color:white;
font-family:"Comic Sans Ms","TSCu_Comic";


}
.cadre{
    padding-left: 15px;
    padding-right: 15px;
  
    
    background-color: palevioletred;
    border: 1px solid rgb(185, 96, 126);
    

}
.cadre:hover{
   
    background-color: rgb(235, 135, 168);
    border: none;
    

}
@media screen and (max-width:959px){
    .menu{
        width: 80%;
        height: 100%;
        

      
    }
  
   
}
@media screen and (max-width:640px){
    .menu{
        width: 80%;
        height: 100%;
        
    }
   
}
    
@media screen and (max-width:320px){
   
    .menu{
        width: 40%;
        height: 100%;
        
    }
  
   
   
   
}