.page{
    background: rgb(20, 20, 20);
    position: absolute;
    bottom: 20%;
    left: 36%;;
    height: 500px;
    width: 400px;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}
.closed{
    
    margin: 2px 10px;
}
.closed a{  
    font-size: 21px;
    color: green;
}
.closed a:hover{  
    font-size: 23px;
    color: rgb(7, 189, 7);
    cursor: pointer;
    
}
.log{
    text-align: center;
    padding: 40px;
    margin-top: 80px;
    
}
.log label{
    margin-right:15px ;
    color: #f7f7f7;
    
}
.log p{
    padding-top: 20px;
    
}
.title{
    height: 30px;
    text-align: center;
    color: #f7f7f7;
    

}
.log input[type="text"],input[type="email"]{
    border: none;
    border-bottom: 1px solid rgb(156, 231, 156);
    background: transparent;
    outline: none;
    color: #f7f7f7;
  

}
