<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dependencie/bootstrap.min.css">
    <link rel="stylesheet" href="/includes/controlPanel.css">
    <title>Document</title>
</head>
<body>
    <main ng-controller="leftMenu as lfm">
        <!--My left menu bar begin-->
        <div class="controlPanel">
            <ul>
                <li>
                    <!--get the event and make the page don't reload-->
                    <!--state of the left menu-->
                    <a  ng-click="lfm.change($event)" class="selected" href="index.html">Home</a>
                </li>
                <li >
                    <a ng-click="lfm.change($event)" href="#">Browse</a>
                </li>
                <li >
                    <a ng-click="lfm.change($event)"  href="#">Listen</a>
                </li>
            </ul>
        </div>
        <!--My left menu bar end-->
        <!--My central grid begin-->
        <div class="myGrid">
                    <div class="Panel" ng-controller="pane as pan">
                        <img src="{{pan.fond}}" alt="" width=" 1000px" height="500px">

                                <ul class="menu_list">
                                    <li><a  class="btn" href="#">Overwiew</a></li>
                                    <li><a class="btn" href="#">About</a></li>
                                </ul>
                                <h1 class="panel-title">{{pan.titreFond}}</h1>
                            
                        
                    </div>


                    <!--Appli bar begin-->

                    <div class="Appli">
                        <section class="Menu-Appli">
                            
                            <h1>topReviews</h1>
                        </section>

                            <div class="recal">
                                <section class="logos">
                                    <a href="#"><h1>JS</h1></a>
                                    
                                </section>
                            </div>
                            <div class="recal">
                                <section class="logos">
                                    <a href="#"><h1>JS</h1></a>
                                    
                                </section>
                            </div>
                     

                    </div>
                     <!--Appli bar end-->
        <!--My central grid end-->

    </div>
    <div  class="infos">
        <div class="infos-left">
            <h1>All Artists</h1>
            <ul>
                <li><a href="#">locko</a></li>
                <li><a href="#">kocce</a></li>
                <li><a href="#">lady ponce</a></li>
                <li><a href="#">suspect-95</a></li>
                <li><a href="#">singula</a></li>
            </ul>
        </div>
        <div id="infos-center" class="infos-center">
            <h2>Popular</h2>
            <section ng-repeat="x in lfm.articles" class="logos">
                <a id="{{x.title}}" ng-click="lfm.check($event)"  href="/artists/pages-artist/{{x.title}}.html">
                    <img src="{{x.image}}" height="150px" alt="{{x.title}}">
                <h1 id="title">{{x.title}}</h1>
               </a>
                <a  href="#"><h1 id="writeBy">{{x.by}}</h1></a>
            </section>

            <h2>Albums</h2>
            <section ng-repeat="x in lfm.articles" class="logos">
                <a href="#"><h1>Unknown</h1></a>
            </section>

            <h2>Recents Add</h2>
            <section ng-repeat="x in lfm.articles" class="logos">
                <a href="#"><h1>Unknown</h1></a>
            </section>
        </div>

    </div>

    </main> 
    
</body>
</html>