.davido{
    color: #f7fff7;
}
/*the Control Panel for my menus*/
.controlPanel{
    float: left;
    background: rgb(20, 20, 20);
    height: 500px;
    width: 200px;
    color: #f7fff7;
    
}
.controlPanel ul{
    padding-left: 10px;
}
/*my grid*/
.myGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
   /* column-gap:20px; no gap*/
}
/*Panel for my Image*/
.Panel{
    width: 1000px;
    height: 500px;
    text-align: center;
    position: relative;/*fix the panel for the absolute elements don't move out*/
    
    /*
    background-image: url(/img/burnaboy-fond.jpg);
    background-size: cover;
    background-position:60% 20%;
    padding: 170px 0;
    overflow: hidden;
    */
    
    
   

}
/*
.Panel img{
    
    filter: blur(2px);
    
    
}
*/

.Appli{
    background:  rgb(22, 22, 22);
    border-top: 1px solid rgb(41, 40, 40);
}
.infos{
    background:  rgb(22, 22, 22);
   float: left;
   height: 500px;
    width: 200px;
   
}
/*my left infos for all artist begin*/
.infos-left ul{
    padding-left: 10px;
}
.infos-left li{
    list-style: none;
  
      
}
.infos-left li>a{
    text-decoration: none;
    font-size: 18px;
    color: gray;
      
}
.infos-left li>a:hover{
    color: rgb(63, 63, 63);
      
}
/*my left infos for all artist end*/
/*very important for the logos display*/


.logos {
    display: inline-block;
    text-align: center;
    background: #f7fff7;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 20px;
    
    
    
 
}
.recal .logos a{
    text-decoration: none;
    display: block;
    
   
}
.recal :hover{
   
    background: rgb(172, 58, 58);    
 
}
/*infos center begin*/
.infos-center{
    width: 900px;
}
.infos-center a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}
.infos-center .logos:hover{
    background: #c9cec9;
}
.infos-center .logos a:hover{
    color: black;
}
.infos-center h2{
    color: #f7fff7;
    padding:10px;
    border-bottom: 1px solid rgb(56, 55, 55) ;
}
.infos-center img{
   border-radius: 80px;
}
/*infos centerend*/
/*artist and composteur style*/

#writeBy{
    font-size: 18px;
}





/*menus control panel*/
 .controlPanel li{
    list-style-type: none;
    padding-bottom: 15px;
 
    
   
} 
/*link control panel*/
 .controlPanel a{
    color: gray;
    display: block;
    padding-left: 20px;
    
    
} 
.selected{
    border-left: 3px solid green;
}


      
    

.menu_list{
    position: absolute;
    top: 50%;
    list-style-type: none;
    display: flex; /*flex the elements*/
   
    
    
    
}
.panel-title{
    position: absolute;
    top: 50%;
    left: 70%;
    color: #f7fff7;
    font-family: 'Times New Roman', Times, serif;

}
.menu_list a{
   
    color: #f7fff7;
    font-size: 18px;
    margin-left: 30px;
    
}

/*Bnt Style*/ /*select style*/
.menu_list .btn{
    border-bottom: 3px solid rgb(7, 68, 7);
    
    
}

/*All media Screen */

@media screen and (max-width:1482px){
    .Panel{
        width:800px
    }
}
@media screen and (max-width:1290px){
    .Panel{
        width:600px;
    }
}
@media screen and (max-width:1077px){
    .Panel{
        width:400px;
    }
}
@media screen and (max-width:877px){
    .Panel{
        width:200px;
    }
    .menu_list{
        display: grid; 
        
    }
}
@media screen and (max-width:396px){
    .Panel{
        width:150px;
        
    }

}



