/*Head css*/


header{
    background: rgb(20, 20, 20);
    grid-auto-columns: min-content;
    color: #f7fff7;/*almost white*/

    
  
    
   
}
/*MY center head menu*/
.centre-head{
 display: grid;
 grid-template-columns: 4fr 2fr;
 /*the profil menu with subscription menu begin*/ 
}
.profil-menu{
    display: flex;
}

.profil-menu section{
    margin-left: 90px;
}
.profil-menu .profil{
    margin-right: 20px;
}
.profil-menu .subscription {
  text-align: center;
  padding: 10px;
}
.profil-menu .subscription a{
    display: block;
    text-decoration: none;
    color: black;
    font-size:18px ;
    border-radius: 30px;
    background:rgb(82, 241, 82);
    height: 30px;
    width: 120px;
}
/*btn subscription style*/
.profil-menu .subscription a:hover{
    background:rgb(65, 204, 65);
    color: white;
    
    

}
.profil{
    text-align: center;
    padding: 10px;
}
/*finish with profil menu*/
/*start with file-menu section*/
.file-menu{
    display: flex;
}

.file-menu section{
    margin-right: 300px;
}
 /*the profil menu with subscription menu end*/

 /*my search box*/
 .searchBar input[type=text]{
    text-align: center;
    border-radius: 40px;
    outline: none;
    margin: 10px;
    
 }
h1{
    margin: 0;
    
}
@media screen and (max-width:1050px){
  
    .file-menu section{
        margin-right: 300px;
    }
    .profil-menu section{
        margin-left: 90px;
    }
    .profil-menu .profil{
        margin-right: 20px;
    }
}

