<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dependencie/bootstrap.min.css">
    <link rel="stylesheet" href="/includes/controlPanel.css">
    <title>Document</title>
</head>
<body>
    <main >
        <!--My left menu bar begin-->
        <div ng-controller="leftMenu as lfm" class="controlPanel">
            <ul>
                <li>
                    <!--get the event and make the page don't reload-->
                    <!--state of the left menu-->
                    <a  ng-click="lfm.change($event)" class="selected" href="index.html">Home</a>
                </li>
                <li >
                    <a ng-click="lfm.change($event)" href="#">Browse</a>
                </li>
                <li >
                    <a ng-click="lfm.change($event)"  href="#">Listen</a>
                </li>
            </ul>
        </div>
        <!--My left menu bar end-->
        <!--My central grid begin-->
        <div class="myGrid">
                    <div class="Panel">
                            <div class="config">
                                <ul class="menu_list">
                                    <li><a  class="btn" href="#">Overwiew</a></li>
                                    <li><a class="btn" href="#">About</a></li>
                                </ul>
                            </div>
                    </div>


                    <!--Appli bar begin-->

                    <div class="Appli">
                        <section class="Menu-Appli">
                            
                            <h1>topReviews</h1>
                        </section>

                            <div class="recal">
                                <section class="logos">
                                    <a href="#"><h1>JS</h1></a>
                                    
                                </section>
                            </div>
                            <div class="recal">
                                <section class="logos">
                                    <a href="#"><h1>JS</h1></a>
                                    
                                </section>
                            </div>
                     

                    </div>
                     <!--Appli bar end-->
        <!--My central grid end-->

    </div>
    <div class="infos">
        <h1>
           Latest Reviews

        </h1>
    </div>

    </main> 
    
</body>
</html>